{% extends 'base.html' %}

{% block title %}
Questionn
{% endblock %}

{% block body %}

<center><h1 class='lemonada'>The Blogg is abandoned in favour of Rlog which be coming online 
very soon. See you there!!</h1></center>

{% endblock %}
