{% extends 'Questionnaire/base.html' %}

{% block title %}
    Delete {{ object.title }}
{% endblock %}


{% block body %}
    <h1>Delete {{ object.title }} ?</h1>
    <form method="post">
        {% csrf_token %}
        <div>

            <button type="submit" class="btn btn-danger">Yes</button>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'question:details' object.question.slug %}" class="btn btn-success">No</a>
        </div>
    </form>
{% endblock %}