{% extends 'Questionnaire/base.html' %}

{% block title %}
    Post your Question - Questionarre
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
                <button class="btn btn-success" type="submit" value="Submit">Submit</button>
        {% crispy form %}
    </form>
{% endblock %}