{% extends 'Questionnaire/base.html' %}

{% block title %}
    Questionn | Welcome
{% endblock %}

{% block body %}
    {% load humanize %}

    {% for question in questions %}
    <div>
      <div class="center-block">
        <h3 class="sub-header">
        <a href="{% url 'question:details' question.slug %}">{{ question.title }}</a>
        <small>{{ question.pub_date | time | naturaltime }}</small>&nbsp;<small>{{ question.pub_date | date | naturalday }}</small></h3>
        {% load markdown_deux_tags %}
        <p>{{ question.body | markdown | truncatewords:40 | linebreaks}}</p>
        <div>
          <ul>
            <li>Author: {{ question.asked_by }}</li>
            <li>Up Votes: {{ question.up_votes }}</li>
            <li>Down Votes: {{ question.down_votes }}</li>
            <li class="fa-comments-o">Answers: {{ question.answer_set.count }}</li>
            <li class="fa-comments-o">Comments: {{ question.comment_set.count }}</li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}

<center><div class="pagination">
    <ul class="pager">
    {% if questions.has_previous %}
        <li class="previous active"><a href="?page={{ questions.previous_page_number }}">&larr; Newer</a></li>
    {% else %}
        <li class="previous inactive"><a href="#">&larr; Newer</a></li>
    {% endif %}
    &nbsp;&nbsp;
    {% if questions.has_next %}
        <li class="next active"><a href="?page={{ questions.next_page_number }}">Older &rarr;</a></li>
    {% else %}
        <li class="next inactive"><a href="#">Older &rarr;</a></li>
    {% endif %}
    </ul>
</div></center>

{% endblock %}