{% extends 'Questionnaire/base.html' %}

{% block title %}
{{ question.title }} - Questionnaire
{% endblock %}

{% block body %}
    {% load markdown_deux_tags %}
    <br><br>
    <div class="jumbotron">
    <h1 class="title-bar-title center-block text-center">{{ question.title }}</h1><br>
    <em>Asked by {{ question.asked_by }} at {{ question.pub_date }}</em>
    <br><br>
    {{ question.body | markdown | linebreaks }}
        <div class="glyphicon glyphicon-hand-up"></div>Up Votes: {{ question.up_votes }}<br>
    Down Votes: {{ question.down_votes }}<br>
    <a class="small btn btn-danger" href="{% url 'question:delete_question' question.slug%}">Delete</a>
    <a class="small edit-shortcut" href="{% url 'question:edit_question' question.slug %}">Edit Question</a>
    </div>

    <hr class="form-horizontal">
        {% for comment in question.comment_set.all %}
            {{ comment.body }} - {{ comment.user_name }} at {{ comment.pub_date }}&nbsp;
            <a class="small" href="{% url 'question:delete_comment' comment.pk question.slug %}">Delete</a>
            <hr class="form-horizontal">
        {% endfor %}
    <br>
    <a style="color: #5e5e5e" href="{% url 'question:comment' question.slug question.pk 'question' %}">Add a Comment</a>

    <br><br><br>
    {% load markdown_deux_tags %}
    {% for answer in answers %}
        {{ answer.answer | markdown | linebreaks }}<br>
        Answered by {{ answer.answered_by }} at {{ answer.published_date }}
        <a class="small deletelink" href="{% url 'question:answer_delete' question.slug answer.pk%}">Delete</a>
        <hr class="form-horizontal">
        {% for comment in answer.comment_set.all %}
            {{ comment.body | linebreaks | markdown }} - {{ comment.user_name }} at {{ comment.pub_date }}&nbsp;
            <a class="small" href="{% url 'question:delete_comment' comment.pk question.slug %}">Delete</a>
            <hr class="form-horizontal">
        {% endfor %}
        <a style="color: #5e5e5e" href="{% url 'question:comment' question.slug answer.pk 'answer' %}">Add a Comment</a>
    <br><hr>
    {% endfor %}

    <div style="text-align: center;"><a href="{% url 'question:answer' slug=question.slug %}">
        <button class="btn btn-primary" type="submit">Answer this question</button>
    </a></div>
{% endblock %}