<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>

    {% load staticfiles %}
    <!-- Load the jQuery library -->
    <script src="{% static 'Questionnaire/js/vendor/jquery.js' %}"></script>

    <!-- Load the bootstrap file's -->
    <!-- <link rel="stylesheet" href="{% static 'Questionnaire/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'Questionnaire/flatly.min.css' %}">
    <script src="{% static 'Questionnaire/bootstrap.min.js' %}"></script>

    <!-- Load the app specific stuff -->
    <link rel="stylesheet" href="{% static 'Questionnaire/app.css' %}">
    <script src="{% static 'Questionnaire/app.js' %}"></script>

    <!-- The Google fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">

</head>
<body>
    <!-- Start Top Bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand lemonada">Questionn</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="{% url 'question:index' %}">Visit Questionn</a></li>
                <li><a href="{% url 'blog:index' %}">Visit Blogg</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'users:logout_user' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    </div>
    </nav>
    <!-- End Top Bar -->
    {% block body %}{% endblock %}

    <script>
      $(document).foundation();
    </script>
</body>
</html>
