{% extends 'users/base.html' %}

{% block title %}
    Login | Questionn
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'users:login_user' %}" enctype="multipart/form-data">
    <button class="btn btn-primary" type="submit" value="submit">Login</button>
    {% crispy form %}
    </form>
{% endblock %}