{% extends 'users/base.html' %}

{% block title %}
    {{ user.username }} | Questionn
{% endblock %}

{% block body %}
    <div class="center-block text-center">{{ user.get_full_name }}</div>

    <ul>
    {% for question in user.question_set.all %}
        <li>{{ question.title }}</li>
    {% endfor %}
    </ul>

{% endblock %}