{% extends 'users/base.html' %}

{% block title %}
    Register | Questionn
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'users:register_user' %}" enctype="multipart/form-data">
    <button class="btn btn-primary btn-success" type="submit" value="submit">Register</button>
    {% csrf_token %}
    {% crispy form %}
    </form>
{% endblock %}